@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-judm9m');
  src:url('fonts/icomoon.eot?#iefix-judm9m') format('embedded-opentype'),
    url('fonts/icomoon.woff?-judm9m') format('woff'),
    url('fonts/icomoon.ttf?-judm9m') format('truetype'),
    url('fonts/icomoon.svg?-judm9m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fs-"], [class*=" fs-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 0.0;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  position: relative;
  /*margin-right: -.16em;*/
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* padding here for text, icons replicate this using size and position:absolute - padding makes touch-target bigger */
    padding: 0.2em 0;
    /* units used in font: 1em = 2048, icons 2400 wide, so icons are 1.171875em (2400/2048). Add padding x2 to get size: */
    /*height: 1.45788em;
    width: 1.45788em;*/
    font-size: 2.815em;
    /* text hidden old-school */
    text-align: left;
    text-indent: -9999px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* position:absolute stacks pseudo elements - extra &lt;span> in markup = 2 extra pseudo elements */
[class^="fs-"]:before,
[class^="fs-"]:after,
[class^="fs-"] span:before,
[class^="fs-"] span:after {
  display: block;
  /*position: absolute;*/
  white-space: normal;
  /* match padding above */
  top: 0.143em;
  /*left: 0.143em;*/
  /* undo text hidden */
  text-indent: 0;
  /* inherits size from parent, ems cascade */
  font-size: 0.6em;
  font-weight: 400 !important;
  font-style: normal !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  /* screenreaders */
  speak: none;
  /* transitions here */ }
.fs-logo:after {
  content: "\f510";
}
.fs-logo:before {
  content: "\f50f";
  color: #ef9a01;
}
[class^="fs-animated-signal"]:before {
  color: #D8D8D8;
  content: "\f51b";
}


  content: "\e900";
}
.fs-weather-heat-waves:before {
  content: "\e901";
}
.fs-weather-landslide:before {
  content: "\e902";
}
.fs-weather-lightning-storm:before {
  content: "\e903";
}
.fs-weather-rainfall:before {
  content: "\e904";
}
.fs-general-self-contained:before {
  content: "\e905";
}
.fs-general-self-contained-circle:before {
  content: "\e906";
}
.fs-general-spatial-temporal:before {
  content: "\e907";
}
.fs-general-spatial-temporal-circle:before {
  content: "\e908";
}
.fs-general-station:before {
  content: "\e909";
}
.fs-general-station-circle:before {
  content: "\e90a";
}
.fs-general-excellence:before {
  content: "\e90b";
}
.fs-general-excellence-circle:before {
  content: "\e90c";
}
.fs-general-station-management:before {
  content: "\e90d";
}
.fs-general-station-management-circle:before {
  content: "\e90e";
}
.fs-general-station-hydrology:before {
  content: "\e90f";
}
.fs-general-station-hydrology-circle:before {
  content: "\e910";
}
.fs-general-information-management:before {
  content: "\e911";
}
.fs-general-information-management-circle:before {
  content: "\e912";
}
.fs-general-ingestion:before {
  content: "\e913";
}
.fs-general-ingestion-circle:before {
  content: "\e914";
}
.fs-general-innovation:before {
  content: "\e915";
}
.fs-general-innovation-circle:before {
  content: "\e916";
}
.fs-general-integration:before {
  content: "\e917";
}
.fs-general-integration-circle:before {
  content: "\e918";
}
.fs-general-responsive:before {
  content: "\e919";
}
.fs-general-responsive-circle:before {
  content: "\e91a";
}
.fs-general-user-experience:before {
  content: "\e91b";
}
.fs-general-user-experience-circle:before {
  content: "\e91c";
}
.fs-general-circle-in-thick:before {
  content: "\e91d";
}
.fs-general-circle-in-thin:before {
  content: "\e91e";
}
.fs-general-circle-out-thick:before {
  content: "\e91f";
}
.fs-general-circle-out-thin:before {
  content: "\e920";
}
.fs-general-circle-thick:before {
  content: "\e921";
}
.fs-general-circle-thin:before {
  content: "\e922";
}
.fs-general-hexagon-in-thick:before {
  content: "\e923";
}
.fs-general-hexagon-in-thin:before {
  content: "\e924";
}
.fs-general-hexagon-out-thick:before {
  content: "\e925";
}
.fs-general-hexagon-out-thin:before {
  content: "\e926";
}
.fs-general-hexagon-thick:before {
  content: "\e927";
}
.fs-general-hexagon-thin:before {
  content: "\e928";
}
.fs-general-line-out-thick:before {
  content: "\e929";
}
.fs-general-line-out-thin:before {
  content: "\e92a";
}
.fs-general-line2-thick:before {
  content: "\e92b";
}
.fs-general-line2-thin:before {
  content: "\e92c";
}
.fs-general-rectangle-in-thick:before {
  content: "\e92d";
}
.fs-general-rectangle-in-thin:before {
  content: "\e92e";
}
.fs-general-rectangle-out-thick:before {
  content: "\e92f";
}
.fs-general-rectangle-out-thin:before {
  content: "\e930";
}
.fs-general-rectangle-thick:before {
  content: "\e931";
}
.fs-general-rectangle-thin:before {
  content: "\e932";
}
.fs-mailsignature-website .path1:before {
  content: "\e933";
  color: ;
}
.fs-mailsignature-website .path2:before {
  content: "\e934";
  margin-left: -1em;
  color: ;
}
.fs-mailsignature-website .path3:before {
  content: "\e935";
  margin-left: -1em;
  color: ;
}
.fs-mailsignature-website .path4:before {
  content: "\e936";
  margin-left: -1em;
  color: ;
}
.fs-mailsignature-website .path5:before {
  content: "\e937";
  margin-left: -1em;
  color: ;
}
.fs-mailsignature-website .path6:before {
  content: "\e938";
  margin-left: -1em;
  color: ;
}
.fs-mailsignature-website .path7:before {
  content: "\e939";
  margin-left: -1em;
  color: ;
}
.fs-mailsignature-website .path8:before {
  content: "\e93a";
  margin-left: -1em;
  color: ;
}
.fs-mailsignature-website .path9:before {
  content: "\e93b";
  margin-left: -1em;
  color: ;
}
.fs-mailsignature-website .path10:before {
  content: "\e93c";
  margin-left: -1em;
  color: ;
}
.fs-mailsignature-website .path11:before {
  content: "\e93d";
  margin-left: -1em;
  color: ;
}
.fs-mailsignature-website .path12:before {
  content: "\e93e";
  margin-left: -1em;
  color: ;
}
.fs-mailsignature-website .path13:before {
  content: "\e93f";
  margin-left: -1em;
  color: ;
}
.fs-mailsignature-website .path14:before {
  content: "\e940";
  margin-left: -1em;
  color: ;
}
.fs-mailsignature-website .path15:before {
  content: "\e941";
  margin-left: -1em;
  color: ;
}
.fs-mailsignature-website .path16:before {
  content: "\e942";
  margin-left: -1em;
  color: ;
}
.fs-mailsignature-website .path17:before {
  content: "\e943";
  margin-left: -1em;
  color: ;
}
.fs-mailsignature-linkedin:before {
  content: "\e944";
}
.fs-mailsignature-location .path1:before {
  content: "\e945";
  color: ;
}
.fs-mailsignature-location .path2:before {
  content: "\e946";
  margin-left: -1em;
  color: ;
}
.fs-mailsignature-mobile .path1:before {
  content: "\e947";
  color: ;
}
.fs-mailsignature-mobile .path2:before {
  content: "\e948";
  margin-left: -1em;
  color: ;
}
.fs-mailsignature-mobile .path3:before {
  content: "\e949";
  margin-left: -1em;
  color: ;
}
.fs-mailsignature-phone:before {
  content: "\e94a";
}
.fs-mailsignature-whatsapp .path1:before {
  content: "\e94b";
  color: ;
}
.fs-mailsignature-whatsapp .path2:before {
  content: "\e94c";
  margin-left: -1em;
  color: ;
}
.fs-general-without-wind-direction:before {
  content: "\e985";
}
.fs-general-without-wind-direction-2:before {
  content: "\e986";
}
.fs-general-dashboard-3:before {
  content: "\e982";
}
.fs-general-meu-climatos-1:before {
  content: "\e983";
}
.fs-general-meu-climatos-2:before {
  content: "\e987";
}
.fs-general-meu-climatos-3:before {
  content: "\e988";
}
.fs-general-simulacao-1:before {
  content: "\e989";
}
.fs-general-simulacao-2:before {
  content: "\e98a";
}
.fs-general-simulacao-3:before {
  content: "\e98b";
}
.fs-general-becker:before {
  content: "\e980";
}
.fs-general-becker-2:before {
  content: "\e984";
}
.fs-weather-simplerain:before {
  content: "\e981";
}
.fs-general-equal:before {
  content: "\e97e";
}
.fs-general-triangle:before {
  content: "\e97f";
}
.fs-datatype-calculado-1:before {
  content: "\e94d";
}
.fs-datatype-calculado:before {
  content: "\e94e";
}
.fs-datatype-consistido-1:before {
  content: "\e94f";
}
.fs-datatype-consistido:before {
  content: "\e950";
}
.fs-datatype-medido-1:before {
  content: "\e951";
}
.fs-datatype-medido:before {
  content: "\e977";
}
.fs-datatype-reconstruido-1:before {
  content: "\e979";
}
.fs-datatype-reconstruido:before {
  content: "\e97a";
}
.fs-datatype-sumarizado-1:before {
  content: "\e97b";
}
.fs-datatype-sumarizado:before {
  content: "\e97c";
}
.fs-weather-moon:before {
  content: "\e97d";
}
.fs-weather-cloud-day-hail:before {
  content: "\e969";
}
.fs-weather-cloud-day-lightning:before {
  content: "\e96a";
}
.fs-weather-cloud-day-rain:before {
  content: "\e96b";
}
.fs-weather-cloud-day-snow:before {
  content: "\e96c";
}
.fs-weather-cloud-day-storm:before {
  content: "\e96d";
}
.fs-weather-cloud-day-windy:before {
  content: "\e96e";
}
.fs-weather-cloud-moon:before {
  content: "\e96f";
}
.fs-weather-cloud-night-hail:before {
  content: "\e970";
}
.fs-weather-cloud-night-rain:before {
  content: "\e971";
}
.fs-weather-cloud-night-snow:before {
  content: "\e972";
}
.fs-weather-cloud-night-storm:before {
  content: "\e973";
}
.fs-weather-cloud-night-windy:before {
  content: "\e974";
}
.fs-weather-cloud-simple:before {
  content: "\e975";
}
.fs-weather-cloud-sun:before {
  content: "\e976";
}
.fs-weather-sun:before {
  content: "\e978";
}
.fs-stationtype-agrometeorologica:before {
  content: "\e964";
}
.fs-stationtype-hidrologica:before {
  content: "\e965";
}
.fs-stationtype-hidrometeorologica:before {
  content: "\e966";
}
.fs-stationtype-meteorologica:before {
  content: "\e967";
}
.fs-stationtype-pluviometrica:before {
  content: "\e968";
}
.fs-variable-evaporation:before {
  content: "\e952";
}
.fs-variable-bare-soil-temperature:before {
  content: "\e953";
}
.fs-variable-cell-signal:before {
  content: "\e954";
}
.fs-variable-energia-gerada:before {
  content: "\e955";
}
.fs-variable-evapotranspiration:before {
  content: "\e956";
}
.fs-variable-flow:before {
  content: "\e957";
}
.fs-variable-grass-soil-temperature:before {
  content: "\e958";
}
.fs-variable-grassland-soil-temperature:before {
  content: "\e959";
}
.fs-variable-leaf-wet:before {
  content: "\e95a";
}
.fs-variable-level:before {
  content: "\e95b";
}
.fs-variable-lightning-feature:before {
  content: "\e95c";
}
.fs-variable-lightning-altitude:before {
  content: "\e95d";
}
.fs-variable-lightning-elipse-angle:before {
  content: "\e95e";
}
.fs-variable-lightning-elipse-lenght-horizontal:before {
  content: "\e95f";
}
.fs-variable-lightning-elipse-lenght-vertical:before {
  content: "\e960";
}
.fs-variable-lightning-peak-current:before {
  content: "\e961";
}
.fs-variable-measure-system-feature:before {
  content: "\e962";
}
.fs-variable-nivel-agua-jusante:before {
  content: "\e963";
}
.fs-variable-nivel-agua-montante:before {
  content: "\e98c";
}
.fs-variable-no-variable:before {
  content: "\e98d";
}
.fs-variable-percentual-volume-espera:before {
  content: "\e98e";
}
.fs-variable-percentual-volume-util:before {
  content: "\e98f";
}
.fs-variable-posicao-operacao-eixo-x:before {
  content: "\e990";
}
.fs-variable-posicao-operacao-eixo-y:before {
  content: "\e991";
}
.fs-variable-rate-rise-waveform:before {
  content: "\e992";
}
.fs-variable-regime-alerta-eixo-x:before {
  content: "\e993";
}
.fs-variable-regime-alerta-eixo-y:before {
  content: "\e994";
}
.fs-variable-soil-humidity:before {
  content: "\e995";
}
.fs-variable-soil-temperature:before {
  content: "\e996";
}
.fs-variable-stn-voltage:before {
  content: "\e997";
}
.fs-variable-time-feature-waveform:before {
  content: "\e998";
}
.fs-variable-urban-soil-temperature:before {
  content: "\e999";
}
.fs-variable-visibility:before {
  content: "\e99a";
}
.fs-general-eraser-pencil:before {
  content: "\e99b";
}
.fs-general-eraser-text:before {
  content: "\e99c";
}
.fs-general-expand:before {
  content: "\e99d";
}
.fs-general-right-arrow:before {
  content: "\e99e";
}
.fs-general-up-arrow:before {
  content: "\e99f";
}
.fs-general-right-pointer:before {
  content: "\e9a0";
}
.fs-general-down-arrow:before {
  content: "\e9a1";
}
.fs-general-line-thick:before {
  content: "\e9a2";
}
.fs-general-polygon-thick:before {
  content: "\e9a3";
}
.fs-general-transversal-arrow:before {
  content: "\e9a4";
}
.fs-general-text:before {
  content: "\e9a5";
}
.fs-general-eraser:before {
  content: "\e9a6";
}
.fs-general-pencil:before {
  content: "\e9a7";
}
.fs-general-forecast:before {
  content: "\e9a8";
}
.fs-general-caligraphy-pen:before {
  content: "\e9a9";
}
.fs-general-radar:before {
  content: "\e9aa";
}
.fs-general-target:before {
  content: "\e9ab";
}
.fs-general-speed-1x:before {
  content: "\e9ac";
}
.fs-general-speed-2x:before {
  content: "\e9ad";
}
.fs-general-history-3h:before {
  content: "\e9ae";
}
.fs-general-speed-3x:before {
  content: "\e9af";
}
.fs-general-history-12h:before {
  content: "\e9b0";
}
.fs-general-history-24h:before {
  content: "\e9b1";
}
.fs-general-right:before {
  content: "\e9b2";
}
.fs-general-left:before {
  content: "\e9b3";
}
.fs-general-ruler:before {
  content: "\e9b4";
}
.fs-general-clock-circle:before {
  content: "\e9b5";
}
.fs-general-suspension-points:before {
  content: "\e9b6";
}
.fs-state-es:before {
  content: "\e9b7";
}
.fs-state-mt:before {
  content: "\e9b8";
}
.fs-state-pr:before {
  content: "\e9b9";
}
.fs-general-layer:before {
  content: "\e9ba";
}
.fs-weather-radar:before {
  content: "\e9bb";
}
.fs-chart-trend-down:before {
  content: "\e9bc";
}
.fs-chart-area:before {
  content: "\e9bd";
}
.fs-chart-trend-up:before {
  content: "\e9be";
}
.fs-chart-distance:before {
  content: "\e9bf";
}
.fs-general-lightning:before {
  content: "\e9c0";
}
.fs-chart-areaspline:before {
  content: "\e9c1";
}
.fs-weather-leaf-wet:before {
  content: "\e9c2";
}
.fs-weather-level:before {
  content: "\e9c3";
}
.fs-weather-preciptation:before {
  content: "\e9c4";
}
.fs-chart-bar:before {
  content: "\e9c5";
}
.fs-weather-pressure:before {
  content: "\e9c6";
}
.fs-weather-temperature:before {
  content: "\e9c7";
}
.fs-weather-humidity:before {
  content: "\e9c8";
}
.fs-weather-solar-radiation:before {
  content: "\e9c9";
}
.fs-weather-wind:before {
  content: "\e9ca";
}
.fs-weather-wind-direction:before {
  content: "\e9cb";
}
.fs-general-dashboard:before {
  content: "\e9cc";
}
.fs-general-dashboard2:before {
  content: "\e9cd";
}
.fs-weather-ampacity2:before {
  content: "\e9ce";
}
.fs-chart-line:before {
  content: "\e9cf";
}
.fs-weather-ampacity:before {
  content: "\e9d0";
}
.fs-general-line:before {
  content: "\e9d1";
}
.fs-chart-point:before {
  content: "\e9d2";
}
.fs-general-polygon:before {
  content: "\e9d3";
}
.fs-chart-spline:before {
  content: "\e9d4";
}
.fs-weather-common:before {
  content: "\e9d5";
}
.fs-weather-hydro:before {
  content: "\e9d6";
}
.fs-weather-station:before {
  content: "\e9d7";
}
.fs-weather-lightning:before {
  content: "\e9d8";
}
.fs-logo-superior:before {
  content: "\f50f";
}
.fs-logo-inferior:before {
  content: "\f510";
}
.fs-animated-signal-lvl-1:before {
  content: "\f511";
}
.fs-animated-signal-lvl-2:before {
  content: "\f512";
}
.fs-animated-signal-lvl-3:before {
  content: "\f513";
}
.fs-animated-signal-lvl-4:before {
  content: "\f514";
}
.fs-animated-signal-lvl-5:before {
  content: "\f515";
}
.fs-animated-signal-lvl-6:before {
  content: "\f516";
}
.fs-animated-signal-lvl-7:before {
  content: "\f517";
}
.fs-animated-signal-lvl-8:before {
  content: "\f518";
}
.fs-animated-signal-lvl-9:before {
  content: "\f519";
}
.fs-animated-signal-lvl-10:before {
  content: "\f51a";
}
.fs-animated-signal-lvl-11:before {
  content: "\f51b";
}
