.margin{
	    margin: 20px 0 20px 0;
			text-align: center;
}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-judm9m');
	src:url('fonts/icomoon.eot?#iefix-judm9m') format('embedded-opentype'),
		url('fonts/icomoon.woff?-judm9m') format('woff'),
		url('fonts/icomoon.ttf?-judm9m') format('truetype'),
		url('fonts/icomoon.svg?-judm9m#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="fs-"], [class*=" fs-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 0.0;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	position: relative;
	/*margin-right: -.16em;*/
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* padding here for text, icons replicate this using size and position:absolute - padding makes touch-target bigger */
    padding: 0.2em 0;
    /* units used in font: 1em = 2048, icons 2400 wide, so icons are 1.171875em (2400/2048). Add padding x2 to get size: */
    /*height: 1.45788em;
    width: 1.45788em;*/
    font-size: 2.815em;
    /* text hidden old-school */
    text-align: left;
    text-indent: -9999px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* position:absolute stacks pseudo elements - extra &lt;span> in markup = 2 extra pseudo elements */
[class^="fs-"]:before,
[class^="fs-"]:after,
[class^="fs-"] span:before,
[class^="fs-"] span:after {
  display: block;
  /*position: absolute;*/
  white-space: normal;
  /* match padding above */
  top: 0.143em;
  /*left: 0.143em;*/
  /* undo text hidden */
  text-indent: 0;
  /* inherits size from parent, ems cascade */
  font-size: 0.6em;
  font-weight: 400 !important;
  font-style: normal !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  /* screenreaders */
  speak: none;
  /* transitions here */ }

[class^="fs-animation-signal"]:before {
	color: #D8D8D8;
	content: "\f51b";
}
.fs-icon-evap:before {
  content: "\e93e";
}
.fs-icon-bare-soil-temp:before {
  content: "\e93f";
}
.fs-icon-cell-signal:before {
  content: "\e940";
}
.fs-icon-energia-gerada:before {
  content: "\e941";
}
.fs-icon-evapotrans:before {
  content: "\e942";
}
.fs-icon-flow:before {
  content: "\e943";
}
.fs-icon-grass-soil-temp:before {
  content: "\e944";
}
.fs-icon-grassland-soil-temp:before {
  content: "\e945";
}
.fs-icon-leaf-wet:before {
  content: "\e946";
}
.fs-icon-level:before {
  content: "\e947";
}
.fs-icon-lightning-feature:before {
  content: "\e948";
}
.fs-icon-lightning-altitude:before {
  content: "\e949";
}
.fs-icon-lightning-elipse-ang:before {
  content: "\e94a";
}
.fs-icon-lightning-elipse-len-hor:before {
  content: "\e94b";
}
.fs-icon-lightning-elipse-len-ver:before {
  content: "\e94c";
}
.fs-icon-lightning-peak-current:before {
  content: "\e94d";
}
.fs-icon-measure-sys-feature:before {
  content: "\e94e";
}
.fs-icon-nivel-agua-jusante:before {
  content: "\e94f";
}
.fs-icon-nivel-agua-montante:before {
  content: "\e950";
}
.fs-icon-no-var:before {
  content: "\e951";
}
.fs-icon-percentual-volume-espera:before {
  content: "\e952";
}
.fs-icon-percentual-volume-util:before {
  content: "\e953";
}
.fs-icon-posicao-operacao-eixo-x:before {
  content: "\e954";
}
.fs-icon-posicao-operacao-eixo-y:before {
  content: "\e955";
}
.fs-icon-rate-rise-waveform:before {
  content: "\e956";
}
.fs-icon-regime-alerta-eixo-x:before {
  content: "\e957";
}
.fs-icon-regime-alerta-eixo-y:before {
  content: "\e958";
}
.fs-icon-soil-humidity:before {
  content: "\e959";
}
.fs-icon-soil-temp:before {
  content: "\e95a";
}
.fs-icon-stn-voltage:before {
  content: "\e95b";
}
.fs-icon-time-feature-waveform:before {
  content: "\e95c";
}
.fs-urban-soil-temp:before {
  content: "\e95d";
}
.fs-icon-visibility:before {
  content: "\e95e";
}
.fs-icon-eraser-pencil:before {
  content: "\e934";
}
.fs-icon-eraser-text:before {
  content: "\e935";
}
.fs-icon-expand:before {
  content: "\e936";
}
.fs-icon-right-arrow:before {
  content: "\e937";
}
.fs-icon-up-arrow:before {
  content: "\e938";
}
.fs-icon-right-pointer:before {
  content: "\e939";
}
.fs-icon-down-arrow:before {
  content: "\e93a";
}
.fs-icon-line-thick:before {
  content: "\e93b";
}
.fs-icon-polygon-thick:before {
  content: "\e93c";
}
.fs-icon-transversal-arrow:before {
  content: "\e93d";
}
.fs-icon-text:before {
  content: "\e933";
}
.fs-icon-eraser:before {
  content: "\e931";
}
.fs-icon-pencil:before {
  content: "\e932";
}
.fs-icon-forecast:before {
  content: "\e902";
}
.fs-icon-caligraphy-pen:before {
  content: "\e900";
}
.fs-icon-radar:before {
  content: "\e901";
}
.fs-icon-target:before {
  content: "\e903";
}
.fs-icon-speed-1x:before {
  content: "\e904";
}
.fs-icon-speed-2x:before {
  content: "\e905";
}
.fs-icon-history-3h:before {
  content: "\e906";
}
.fs-icon-speed-3x:before {
  content: "\e907";
}
.fs-icon-history-12h:before {
  content: "\e908";
}
.fs-icon-history-24h:before {
  content: "\e909";
}
.fs-icon-right:before {
  content: "\e90a";
}
.fs-icon-left:before {
  content: "\e90b";
}
.fs-icon-ruler:before {
  content: "\e90c";
}
.fs-icon-clock-circle:before {
  content: "\e90d";
}
.fs-icon-suspension-points:before {
  content: "\e90e";
}
.fs-icon-es:before {
  content: "\e90f";
}
.fs-icon-mt:before {
  content: "\e910";
}
.fs-icon-pr:before {
  content: "\e911";
}
.fs-icon-layer:before {
  content: "\e912";
}
.fs-weather-radar:before {
  content: "\e913";
}
.fs-chart-trend-down:before {
  content: "\e914";
}
.fs-chart-area:before {
  content: "\e915";
}
.fs-chart-trend-up:before {
  content: "\e916";
}
.fs-chart-distance:before {
  content: "\e917";
}
.fs-icon-lightning:before {
  content: "\e918";
}
.fs-chart-areaspline:before {
  content: "\e919";
}
.fs-weather-leaf-wet:before {
  content: "\e91a";
}
.fs-weather-level:before {
  content: "\e91b";
}
.fs-weather-preciptation:before {
  content: "\e91c";
}
.fs-chart-bar:before {
  content: "\e91d";
}
.fs-weather-pressure:before {
  content: "\e91e";
}
.fs-weather-temperature:before {
  content: "\e91f";
}
.fs-weather-humidity:before {
  content: "\e920";
}
.fs-weather-solar-radiation:before {
  content: "\e921";
}
.fs-weather-wind:before {
  content: "\e922";
}
.fs-weather-wind-direction:before {
  content: "\e923";
}
.fs-icon-dashboard:before {
  content: "\e924";
}
.fs-icon-dashboard2:before {
  content: "\e925";
}
.fs-weather-ampacity2:before {
  content: "\e926";
}
.fs-chart-line:before {
  content: "\e927";
}
.fs-weather-ampacity:before {
  content: "\e928";
}
.fs-icon-line:before {
  content: "\e929";
}
.fs-chart-point:before {
  content: "\e92a";
}
.fs-icon-polygon:before {
  content: "\e92b";
}
.fs-chart-spline:before {
  content: "\e92c";
}
.fs-weather-common:before {
  content: "\e92d";
}
.fs-weather-hydro:before {
  content: "\e92e";
}
.fs-weather-station:before {
  content: "\e92f";
}
.fs-weather-lightning:before {
  content: "\e930";
}
.fs-logo-superior:before {
  content: "\f50f";
}
.fs-logo-inferior:before {
  content: "\f510";
}
.fs-animation-signal-lvl-1:before {
  content: "\f511";
}
.fs-animation-signal-lvl-2:before {
  content: "\f512";
}
.fs-animation-signal-lvl-3:before {
  content: "\f513";
}
.fs-animation-signal-lvl-4:before {
  content: "\f514";
}
.fs-animation-signal-lvl-5:before {
  content: "\f515";
}
.fs-animation-signal-lvl-6:before {
  content: "\f516";
}
.fs-animation-signal-lvl-7:before {
  content: "\f517";
}
.fs-animation-signal-lvl-8:before {
  content: "\f518";
}
.fs-animation-signal-lvl-9:before {
  content: "\f519";
}
.fs-animation-signal-lvl-10:before {
  content: "\f51a";
}
.fs-animation-signal-lvl-11:before {
  content: "\f51b";
}
