/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#simepar-logo{
    top: 25px;
}

#font-size{
  font-size: 4em!important;
  margin-bottom: 10px;
}


.margin{
      margin: 20px 0 20px 0;
      text-align: center;
}

.title{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;

}

#animated_signal_header > span{
  margin-top: 70px;
}


@media(max-width: 320px){
    #simepar-logo{
        top: 25px;
        font-size:30px;
    }
}

@media(max-width: 1200px){
    .container{
        text-align: center;
    }

    #animated_signal_header {
        display: none;
    }
}
